*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

body{
    background-color:#ffc4da;
}

.hero{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background-color:aliceblue;
    text-align: center;
    border-radius: 2rem;
    padding:2rem;
}

.pf{
    width:10rem;
    border-radius: 50%;
}

.links a{
    margin: 1rem;
    text-decoration: none;
    color:maroon
}